.Navigation {
    height: 100vh;
    display: flex;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 200;
    transition: height 0.25s ease-in-out 0s;
}

.Navigation__wrap {
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    background-color: #373737;
    min-height: 550px;
    width: 100px;
}

.NavigationPane {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    background-color: #E9E9E9;
    max-width: 300px;
    z-index: 200;
}

.NavigationPane__box {
    padding: 30px;
    border-bottom: 2px solid #fff;
}

.NavigationPane__box_mod {
    border-bottom: 0;
}

.NavigationPane__box_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavigationPane__box_nbord {
  border-bottom: 0;
}

.NavigationPane__title {
    font-weight: bold;
    font-size: 22px;
    margin-right: 35px;
    margin-bottom: 0;
}

.NavigationPane__button {
    border: none;
    background-color: #55AB80;
    border-radius: 4px;
    padding: 15px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.SearchBox {
    position: relative;
    background-color: #fff;
    height: 45px;
    padding: 0 15px;
    border-radius: 3px;
    display: flex;
}

.NavigationPane__label {
    font-size: 14px;
}

.NavigationPane__label_min {
    font-size: 12px;
}

.NavigationPane__label_mid {
    margin-bottom: 15px;
}

.SearchBox__input {
    border: none;
    background-color: transparent;
    width: 100%;
}

.SearchBox__input:focus {
    outline: none;
}

.SearchBox__submit {
    border: none;
    background-color: transparent;
}

.NavigationPaneList {
    padding: 20px 30px;
    border-bottom: 2px solid #fff;
}


.NavigationPaneList__item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.NavigationPaneList__itemSpan {
    font-weight: bold;
}

.NavigationPaneFilter__button {
    display: block;
    border: none;
    background-color: transparent;
    color: #505050;
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.NavigationPaneFilter__button:hover, .NavigationPaneFilter__button.active {
    background-color: #55AB80;
    border-radius: 4px;
    color: #fff;
}
