.ThumbItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 20px;
    margin-bottom: 4px;
    font-size: 14px;
}

.ThumbItem_mid_w {
    width: 95%;
    margin-left: 5%;
}

.ThumbItem__img {
    margin-right: 10px;
}

.color {
    color: #f00;
}
