.NavigationPane {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    background-color: #E9E9E9;
    max-width: 300px;
    z-index: 200;
}

.NavigationPane__box {
    padding: 30px;
    border-bottom: 2px solid #fff;
}

.NavigationPane__box_mod {
    border-bottom: 0;
}

.NavigationPane__box_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavigationPane__box_nbord {
    border-bottom: 0;
}

.NavigationPane__title {
    font-weight: bold;
    font-size: 22px;
    margin-right: 35px;
    margin-bottom: 0;
}

.SearchBox__input {
    border: none;
    background-color: transparent;
    width: 100%;
}

.SearchBox__input:focus {
    outline: none;
}

.SearchBox {
    position: relative;
    background-color: #fff;
    height: 45px;
    padding: 0 15px;
    border-radius: 3px;
    display: flex;
}

.NavigationPane__label {
    font-size: 14px;
}

.NavigationPane__label_min {
    font-size: 12px;
}

.NavigationPane__label_mid {
    margin-bottom: 15px;
}

.NavigationPane__button {
    border: none;
    background-color: #55AB80;
    border-radius: 4px;
    padding: 15px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

.NavigationSlide {
    position: absolute;
    height: 100%;
    width: 120%;
    top: 0;
    left: -80px;
    background-color: #E9E9E9;
    border-left: 2px solid #fff;
    z-index: -100;
    transition: transform .3s ease-in-out;
}

.NavigationSlide_open {
    transform: translateX(100%);
}

.NavigationSlide__box {
    padding: 0 30px;
}

.NavigationSlide__box_mb {
    margin-bottom: 17px;
}

.NavigationSlide__box_mb_mid {
    margin-bottom: 25px;
}

.NavigationSlide__button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.NavigationSlide__button:focus {
    outline: none;
}
