body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 1920px;
    font-size: 16px;
    background-color: #F2F2F2;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.outline {
    outline: 1px solid #000;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1310px;
    }
}

.ProductList {
    padding: 0;
    list-style: none;
}

.closeIcon {
    fill: #B4B4B4;
    width: 20px;
    height: 20px;
}
