._Wrap {
    display: flex;
    align-items: center;
    background-color: #6FC99C;
    color: #fff;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 200;
}

._Top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.Header__line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 30px 0 30px;
}

.Date {
    font-weight: bold;
    margin-bottom: 0;
}

.Date__span {
    opacity: .5;
    font-size: 14px;
}

.Info {
    display: flex;
    align-items: center;
}

.Info__notify {
    display: flex;
    margin-right: 30px;
}

.Selection {
    margin-right: 30px;
    font-weight: bold;
}

.Icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
}

.Icon:not(:last-child) {
    margin-right: 20px;
 }

.Icon__img {
    width: 100%;
    height: auto;
    margin: auto;
}

.Avatar__img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}